*{
    margin: 0px;
    padding: 0px;
    
}
.main
{
    width: 100%;
    display:flex;
    flex-direction:column;
    flex-wrap :wrap;
    align-content:center;
    justify-content : center;

}
.from
{

    margin-top:200px;
    margin-bottom: 300px;
    display:flex;
    justify-content : center;

    position:relative;
}


.from:nth-child(odd)
{
    
}
.from img
{
    width: 695px;
    height: 430px;
    z-index: 3;
}
.tag
{
    position:absolute;
    top:-110px;
    left:-180px;

    width: 340px;
    background-color: red;
    display: flex;
    align-content:flex-start;
    margin: 0;
    flex-wrap :wrap;
    z-index: 4;
}
.tag .ver
{
    writing-mode:vertical-rl;
    align-self:center;
    font-size:100px;
    margin: 0px;
    color:white;
}
.tag h2{
    align-self:center;
    font-size:48px;
    margin: 0;
    font-weight:400;
    color:white;
}
.tag_bottom
{
    width: 100%;
    height: 200px;
    padding-left:15px;
    padding-top: 30px;
    padding-right: 15px;
    letter-spacing: 4px;
    background-color: black;
    color:white;
}
.tag_bottom h3{
    margin-bottom: 8px;
    color: white;
    background-color: black;
}
.tag_text
{
    background-color: #EEEEEE;
    width: 600px;

    position :absolute;
    bottom:-200px;
    left:-100px;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    line-height:18px;
    z-index: 4;
}

.tag_text p::before
{
    content: '▪';
    color: #b60808;
}

.tag_text p
{
    color: #6E6E6E;
    font-size: 12px;
    padding: 10px 0px 10px 0px ;

}
.tag_text h3
{
    color:red;
    padding-top:10px;
    padding-bottom:20px;
    font-size: 16px;
}
.tag_text h3::after{
    content: '―――――――――――――――――――――';
    
}
.tag_text span
{
    background-color: black;
    color: white;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
.youtube_logo
{
    width: 70px;
    height: 50px;
    background-color: #FF0000;
    position: relative;

    top:200px;
    right:50px;
    z-index: 5;
}
.youtube_logo::before
{
    content: '';
    height: 0px;
    width: 0px;
    
    border-top: 12px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 24px solid white;
    position: absolute;
    top:15px;
    right:0px;
}
.graybackground
{
    background-color: #F5F5F5;
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: 1;

    top:-100px;
    right: 0px;
}