.rent-banner-h2
{
    line-height:2rem;
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;
    font-weight: 700;
}

.rent-hotel-banner 
{
    background-image: url("https://image.kkday.com/v2/image/get/w_1920%2Cc_fit%2Cq_75%2Ct_webp/s1.kkday.com/campaign_1670/20210519100328_WsPdN/jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rent-banner-p
{
    width: 80%;
    margin: auto;  
    padding-bottom: 0.938rem;
}
.rent-search
{
    width: 80%;
    margin: auto;  
}
.rent-collapse-search
{
    width: 80%;
}
.card-p 
{
    bottom: 0;
    z-index: 5;
    background-color: transparent
}
.model-map-dialog
{
    z-index: 3;
}
.DIY-card,.DIY-card-food,.DIY-card-command,.DIY-card-Customization
{
    height: 100%;
}
.DIY-card
{
    background-image:     linear-gradient(to bottom,transparent 70%, rgb(19, 19, 19) 100%),
    url("https://image.kkday.com/v2/image/get/w_400.0000059604645%2Ch_250.0000037252903%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_1670/20210520063345_D0fan/jpg");
}
.DIY-card-food
{
    background-image: linear-gradient(to bottom,transparent 70%,  rgb(19, 19, 19) 100%),
    url("https://image.kkday.com/v2/image/get/w_400.0000059604645%2Ch_250.0000037252903%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_1670/20210519101507_XO31p/jpg");
}
.DIY-card-command
{
    background-image: linear-gradient(to bottom,transparent 70%,  rgb(19, 19, 19) 100%),
                    url("https://image.kkday.com/v2/image/get/w_400.0000059604645%2Ch_250.0000037252903%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_1670/20210519101533_egIN0/jpg");
}
.DIY-card-Customization
{
    background-image: linear-gradient(to bottom,transparent 70%,  rgb(19, 19, 19) 100%),
                    url("https://image.kkday.com/v2/image/get/w_400.0000059604645%2Ch_250.0000037252903%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/campaign_1670/20210519101518_RUVZ7/jpg");
}

@media screen and (max-width:768px)
{
    .rent-hotel-banner 
    {
        margin-bottom: 0.9rem;
    }
    .owl-theme .owl-item
    {
        margin: auto;
        width: 80%;
        height: 8rem;
    }
    .rent-type-button
    {
        width: 80%;
        margin: auto;
        margin-top: 0.938rem;
        margin-bottom: 0.938rem;
    }
    .DIY-card-h5
    {
        font-size:1rem;
        top:calc(100% - 2rem);
        left:0.8rem;
    }
    .rent-search
    {
        display: none;
    } 
}
@media screen and (min-width:768px)
{
    .rent-type-button,.owl-theme
    {
        margin: auto;
    }
    .owl-theme
    {
        margin-bottom: 0.938rem;
    }
    .owl-theme .owl-item
    {
        height: 8rem;
    }
    .DIY-card-h5
    {
        top:calc(100% - 2rem);
        left:0.8rem;
    }
    .rent-search
    {
        display: none;
    }
    .rent-class-item
    {
        margin: 0;
        margin-top: 1.875rem;
        margin-bottom: 0.938rem;
    }
    .rent-type-button
    {
        margin-bottom: 0.938rem;
    }
    .rent-search
    {
        width: 60%;
    }
    .rent-hotel-banner 
    {
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width:992px)
{
    .DIY-card-h5
    {
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.3rem;
        font-weight: 500;
    }
    .owl-theme .owl-item
    {
        height: 10rem;
    }
    .rent-collapse-search,.rent-type-button-collapse
    {
        display: none;
    }
    .rent-search,.google-mapCard 
    {
        display: block;
    }
    .rent-type-button
    {
        display: none;
    }
    .productList
    {
        margin-top: 1.563rem;
    }
}
@media screen and(min-width:1200px )
{
    .rent-type-button
    {
        display: none;
    }
    .rent-search
    {
        width: 55%;
    }
}   