
*{
    margin: 0px;
    padding: 0px;
}

/* 導覽欄*/
.Navigation_Bar{
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0;
    height:35px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content : flex-end;
}
.language img
{  
    width: 25px;
    height :25px;
    align-items: center;
    display: inline-block;
    line-height: 35px;
}
.Navigation_Bar a {
    width: 50px;
    height :25px;
    color: white;
    font-size: 12px;
    text-decoration: none;
    margin-right: 6px;
    margin-top: 5px;
    
}
.Navigation_Bar a:hover {
    color: blue;
}   
    /*導覽欄第二欄*/
.Navigation_Bar_row2 {
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    position: fixed;
    top: 35px;
    left: 0;
    height:80px;    
    align-items: center;
}
.Navigation_Bar_row2 .logo
{
    width: 130px ;
    margin-right: 80px;
    margin-left : 100px;
}
.Navigation_Bar_row2 .logo img{
    width: 150px;
    height: 28px;
}
.Navigation_Bar_row2 .nav_list
{
    width: 700px;
    flex-grow: 0.9;
}
.Navigation_Bar_row2 nav a {
    font-size: 15px;
    width: 100px;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-top: 0px     px 0px 5px;
}
.Navigation_Bar_row2 nav a img{
    width: 10px;
    height: 10px;
    margin: auto 1px;
    opacity: 70%;
}
.Navigation_Bar_row2 nav a:hover {
    color: #0061FF;
}
.Navigation_Bar_row2 .url{
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: #0061FF;
    border-radius: 100px;
    text-align: center;
    font: size 40px;
    padding:6px 0px 6px;


}
.Navigation_Bar_row2 .url a{
    font-size: 10px;
    color: white;
    text-decoration: none;
    line-height: 30px;
}

.Navigation_Bar_row2 a:hover{
    opacity: 70%;
}
/*   主畫面區   */
.main
{
    width: 100%;
    height :600px;
    background-color: #00142d;
    color: white;
    display: flex;
    top : 125px;
    margin-top: 125px;
    justify-content : center;
    align-items:center;
}
.main .text{
    width: 700px;
    margin: 100px 10px 14px 80px;
    line-height: 150%;
}
.main .pic{
    width: 600px;
    padding: 80px 10px 10px 10px;
    margin-bottom: 50px;
    font-weight: bold;
}
.main .text h1{
    width: 500px;
    height: 150px;

    font-weight:500;
    font-size: 32px;

    line-height:55px;
    margin-bottom: 20px;
}

.main .text .special{
    color: #228b22;
}
.main .text p{
    
    width: 600px;
    display: flex;
    font-size: 16px;
    font-weight: inline;
    line-height: 2em;
    margin-bottom: 50px;
    font-weight:400;
}
.main .text input{
    
    width: 300px;
    height: 30px;
    color: white;
    border: none;
    border-bottom-style: solid;
    background-color: #00142d;
    margin-right: 10px;
    margin-right: 20px;
}
::placeholder{
    color: white;
    font-size: 18px;
}
.main .text a
{
    width: 80px;
    display: inline-block;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #0061FF;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    margin-left: 10px;;
}
.main .text a:hover{
    opacity: 70%;
}
    .app_content
    {
        width: 100%;
        margin :auto;
        flex-wrap: wrap;
    }
    .one_plantfrom
    {
        width:  700px;
        margin :auto;
        padding :30px;
        
    }
    .one_plantfrom p{
        width:  560px;
        margin : auto;
        padding : 20px;

        text-align: center;
        line-height :2em;
    }
    .one_plantfrom h2
    {
        width: 350px;
        margin : auto;
        text-align: center;
        margin-top: 60px;
        letter-spacing: 3px;
        line-height:45px;
        font-weight:700;

    }
    .from {
        width:  1300px;
        margin :auto;
        display: flex;
        padding :15px;
        letter-spacing: 5px;
        margin-bottom: 30px;
    }
    .from img{
        width : 620px;
        padding :15px;

    }
    .from:nth-child(odd)
    {
    flex-direction: row-reverse;
    }
    .row
    {
        width: 650px;
    }
    .row h2
    {
        line-height :2em;
        padding-bottom: 20px;
    }
    .row p
    {
        line-height :30px;
        padding-bottom: 20px;
    }
    ._outlist
    {
        width: 650px;
        display : flex;
        text-align: left;
    }
    ._list
    {
        display: flex;
        flex-direction:row;
        flex-wrap :wrap;
        width: 340px;
    }
    ._list ul
    {   
        width: 500px;
        display: flex;
        flex-wrap: wrap;
    }
    ._list li{
        width: 250px;
        margin-bottom: 1em;
        align-items: center;
        list-style: none;
        margin-right: 50px;
    }
    ._list span{
        display: inline-block;
        width:20px;
        height:20px;
        background-color: lime;
        text-align: center;
        border-radius: 50%;
        vertical-align: middle;
    }
    .more_function
    {
        width: 100%;
        margin :auto;
        
        flex-wrap: wrap;
        text-align: center;
        background-color: #E3E4E6;
        justify-content : center;
        align-content:center;
    }
    .more_function h2{
        padding: 40px;
        margin :auto; 
        letter-spacing: 7px;
    }
    ._outlist2
    {
        width: 1000px;
        margin:auto;

        display: flex;
        flex-direction:row;
        flex-wrap :wrap;
        justify-content : center;
        align-content:center;
        justify-content : space-around;
    }
    ._outlist2_item
    {
        width: 300px;
        padding :10px;
        font-size: 14px;
        margin-bottom: 80px;

        display:flex;
        flex-wrap :wrap;
        flex-direction:column;
        
    }
    ._outlist2_item p
    {
        text-align: left;
        line-height:25px;
    }
    ._outlist2_item h3
    {
        margin-bottom: 10px;
    }
    .outlist_item_img
    {
        background-color: white;
        border-radius: 100px;
        width:  60px;
        height: 60px;
        padding:25px;
        margin:auto;
        margin-bottom: 20px;
    }
    

    /* */
    .command_to_use 
    {
        margin:auto;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight:400;
    }
    .popular{
        width: 1254px;
        margin:auto;
        margin-top: 30px;
        margin-bottom: 60px;

        display: flex;
        flex-direction:row;
        flex-wrap :nowrap;
        justify-content : space-evenly;
    }
    .popular h2{
        font-size: 30px;
        text-align: center;
    }
    .popular .ulist{
        width:1000px ;
        display: flex;
    }
    .ulist img{
        width: 100px;
        margin-left: 60px;
        margin-right: 60px;
    }
    
    .encourage{
        width: 1254px;
        padding: 0px 0px 50px 0px;
        margin:auto;
        display: flex;
        letter-spacing: 3px;
    }
    .encourage .col{
        padding: 0px 8px;
        width: 50%;
    }
    .encourage .content{
        margin-bottom: 70px;
    }
    .content a{
        color:rgb(47, 74, 224);
        text-decoration:none;
        margin-bottom: 10px;
    }
    .encourage .col img{
        width: 100%;
    }
    
    .tryday{
        margin: auto;
        display: flex;
        background-color:rgb(10, 10, 68)
    }
    .tryday .content{
        margin: auto;
        color: white;
    }
    .tryday .text{
        width: 480px;
        line-height:50px;
        font-size: 20px;
        padding-bottom: 30px;
    }
    .tryday .thing{
        display: block;
        width: 350px;
        height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: blue;
        border-radius: 30px;
    }
    .tryday a{
        display: block;
        padding: 10px 100px;
        font-size:  20px;
        color: white;
        text-decoration: none;
    }
    
    .footer{
        width: 100%;
        margin: auto;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        background-color: #0b1422;
    }

    .footer .footer_div{
        width: 300px;
    }
    .footer ul{
        text-align: left;
        padding: 5px 10px 5px 10px;
    }
    .footer h3{
        color: white;
        font-size: 15px;
        align-self:center;
    }
    .footer a{
        
        padding: 10px;
        margin: auto;
        display: block;
        text-decoration: none;
        color: #748094;
        font-size: 10px;
    }
    
    .end{
        background-color: black;
        color: white;
        padding: 25px;
    }
    .end .content{
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        
    }
    .end a{
        color: white;
        text-decoration: none;
    }
    .end .text{
        font-size: 10px;
        color: #748094;
    }
    .end img{
        padding: 10px;
        border-radius: 50%;
    }